In [2]:
#importing libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [ ]:
#importing datasets
d1 =pd.read_csv("./dataset1.csv")
d1
d2 = pd.read_csv("./dataset2.csv")
d2

#d1 is dataset1 and d2 is dataset2

In [ ]:
#reading the dataset1, analyzing dtypes
print (d1.shape)
print (d1.head(5))
print (d1.tail())
print(d1.describe(include ="float64"))
print(d1.describe(include ="int64"))
print(d1.describe(include="object"))

Investigation B 
Do the behaviours described above change following seasonal changes? 
It is known that in winter, alternative food sources are scarce and rat encounters are less frequent. In spring, food is more abundant and rat encounters are more common. To provide answers to both investigations, your team should decide the appropriate data science techniques to use for analysing the following datasets.

In [6]:
#We must see if batâ€“rat interactions or bat behaviours differ by season.
#Bat behaviour (risk, reward, vigilance time)
#Rat activity (rat arrivals, rat minutes)
#Food availability and see if these vary noticeably between winter and spring.

In [16]:
#counting values for season column in d1
d1['season'].value_counts()

season
1    756
0    151
Name: count, dtype: int64

In [17]:
#grouping for seasonal statistical summary
d1.groupby('season')[['bat_landing_to_food', 'risk', 'reward']].mean()

        bat_landing_to_food      risk    reward
season
0                  6.039623  0.562914  0.364238
1                 12.846335  0.481481  0.567460