In [2]:
#importing libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [ ]:
#importing datasets
d1 =pd.read_csv("./dataset1.csv")
d1
d2 = pd.read_csv("./dataset2.csv")
d2

#d1 is dataset1 and d2 is dataset2

In [71]:
#reading the dataset1, analyzing dtypes
print (d1.shape)
print (d1.head(5))
print (d1.tail())
print(d1.describe(include ="float64"))
print(d1.describe(include ="int64"))
print(d1.describe(include="object"))

(906, 12)
         start_time  bat_landing_to_food habit  rat_period_start  \
0  30/12/2017 18:37            16.000000   rat  30/12/2017 18:35
1  30/12/2017 19:51             0.074016  fast  30/12/2017 19:50
2  30/12/2017 19:51             4.000000  fast  30/12/2017 19:50
3  30/12/2017 19:52            10.000000   rat  30/12/2017 19:50
4  30/12/2017 19:54            15.000000   rat  30/12/2017 19:50

     rat_period_end  seconds_after_rat_arrival  risk  reward  month  \
0  30/12/2017 18:38                        108     1       0      0
1  30/12/2017 19:55                         17     0       1      0
2  30/12/2017 19:55                         41     0       1      0
3  30/12/2017 19:55                        111     1       0      0
4  30/12/2017 19:55                        194     1       0      0

        sunset_time  hours_after_sunset  season
0  30/12/2017 16:45            1.870833       0
1  30/12/2017 16:45            3.100833       0
2  30/12/2017 16:45            3.107500       0
3  30/12/2017 16:45            3.126944       0
4  30/12/2017 16:45            3.150000       0
          start_time  bat_landing_to_food     habit rat_period_start  \
902   4/05/2018 4:18                  2.0       rat   4/05/2018 4:14
903   4/05/2018 4:18                  1.0      fast   4/05/2018 4:14
904   4/05/2018 4:19                 22.0      pick   4/05/2018 4:14
905  3/05/2018 23:51                  2.0      fast  3/05/2018 23:46
906   4/05/2018 5:39                120.0  pick_rat   4/05/2018 5:37

      rat_period_end  seconds_after_rat_arrival  risk  reward  month  \
902   4/05/2018 4:30                        224     1       0      5
903   4/05/2018 4:30                        275     0       1      5
904   4/05/2018 4:30                        310     0       1      5
905  3/05/2018 23:52                        339     0       1      5
906   4/05/2018 6:10                        143     1       1      5

         sunset_time  hours_after_sunset  season
902  3/05/2018 19:22            8.933333       1
903  3/05/2018 19:22            8.947500       1
904  3/05/2018 19:22            8.957222       1
905  3/05/2018 19:22            4.498889       1
906  3/05/2018 19:22           10.297500       1
       bat_landing_to_food  hours_after_sunset
count           906.000000          906.000000
mean             11.720544            5.532579
std              27.658777            2.415383
min               0.010238           -0.261667
25%               1.000000            3.775069
50%               4.000000            5.627083
75%              11.750000            7.406250
max             443.000000           12.091944
       seconds_after_rat_arrival        risk      reward       month  \
count                 906.000000  906.000000  906.000000  906.000000
mean                  282.786976    0.494481    0.534216    3.800221
std                   241.092545    0.500246    0.499103    1.199834
min                     0.000000    0.000000    0.000000    0.000000
25%                    89.250000    0.000000    0.000000    4.000000
50%                   206.000000    0.000000    1.000000    4.000000
75%                   447.250000    1.000000    1.000000    5.000000
max                   949.000000    1.000000    1.000000    5.000000

           season
count  906.000000
mean     0.833333
std      0.372884
min      0.000000
25%      1.000000
50%      1.000000
75%      1.000000
max      1.000000
             start_time habit  rat_period_start    rat_period_end  \
count               906   906               906               906
unique              628    82               268               268
top     21/04/2018 2:17  fast  26/04/2018 22:25  26/04/2018 22:36
freq                  6   245                29                29

             sunset_time
count                906
unique                65
top     26/04/2018 19:17
freq                 101

Investigation B 
Do the behaviours described above change following seasonal changes? 
It is known that in winter, alternative food sources are scarce and rat encounters are less frequent. In spring, food is more abundant and rat encounters are more common. To provide answers to both investigations, your team should decide the appropriate data science techniques to use for analysing the following datasets.

In [72]:
#We must see if batâ€“rat interactions or bat behaviours differ by season.
#Bat behaviour (risk, reward, vigilance time)
#Rat activity (rat arrivals, rat minutes)
#Food availability and see if these vary noticeably between winter and spring.

In [73]:
#counting values for season column in d1
d1['season'].value_counts()

season
1    755
0    151
Name: count, dtype: int64

In [74]:
#grouping for seasonal statistical summary
d1.groupby('season')[['bat_landing_to_food', 'risk', 'reward']].mean()

        bat_landing_to_food      risk    reward
season
0                  6.039623  0.562914  0.364238
1                 12.856728  0.480795  0.568212

In [75]:
#data cleaning
#finding missing values
d1.isnull().sum()
#let's fill missing values instead of dropping
d1= d1.fillna({'habit':'NA'})
#rechecking the missing values
d1.isnull().sum()

start_time                   0
bat_landing_to_food          0
habit                        0
rat_period_start             0
rat_period_end               0
seconds_after_rat_arrival    0
risk                         0
reward                       0
month                        0
sunset_time                  0
hours_after_sunset           0
season                       0
dtype: int64

In [76]:
#checking for duplicates:
dup1= print(d1.duplicated().sum())
dup2= print(d2.duplicated().sum())

0
0

In [77]:
# dropping the 1duplicate in dataset1
d1 = d1.drop_duplicates(keep='last')

#checking the update
dup1= print(d1.duplicated().sum())

0

In [84]:
#missing values of d2
d2.isnull().sum()

#output- 0 missing values

time                  0
month                 0
hours_after_sunset    0
bat_landing_number    0
food_availability     0
rat_minutes           0
rat_arrival_number    0
dtype: int64

In [98]:
#inner merging
merged1 = pd.merge(d1, d2)

# Save the merged dataset to a new CSV file
merged1.to_csv('in_merged_dataset.csv', index=False)

In [99]:
#inner merge data analysis
print("Inner merge shape (number of rows, columns):", merged1.shape)
# Unique months in inner merge
print("Unique months in inner merge:", merged1['month'].unique())
print("Counts per month in inner merge:")
print(merged1['month'].value_counts())

Inner merge shape (number of rows, columns): (20, 17)
Unique months in inner merge: [4]
Counts per month in inner merge:
month
4    20
Name: count, dtype: int64

In [105]:
#data merging
merged2 = pd.merge(d1, d2, how='outer') # outer because tried using the defult inner which deleted everything except the 20 row that overlapped

# Save the merged dataset to a new CSV file
merged2.to_csv('out_merged_dataset.csv', index=False)

#check first few rows
print(merged2.head())

  start_time  bat_landing_to_food habit rat_period_start rat_period_end  \
0        NaN                  NaN   NaN              NaN            NaN
1        NaN                  NaN   NaN              NaN            NaN
2        NaN                  NaN   NaN              NaN            NaN
3        NaN                  NaN   NaN              NaN            NaN
4        NaN                  NaN   NaN              NaN            NaN

   seconds_after_rat_arrival  risk  reward  month sunset_time  \
0                        NaN   NaN     NaN      0         NaN
1                        NaN   NaN     NaN      0         NaN
2                        NaN   NaN     NaN      0         NaN
3                        NaN   NaN     NaN      0         NaN
4                        NaN   NaN     NaN      0         NaN

   hours_after_sunset  season              time  bat_landing_number  \
0                -2.0     NaN  29/12/2017 14:45                 7.0
1                -2.0     NaN  30/12/2017 14:45                10.0
2                -1.5     NaN  29/12/2017 15:15                 1.0
3                -1.5     NaN  30/12/2017 15:15                14.0
4                -1.0     NaN  29/12/2017 15:45                 1.0

   food_availability  rat_minutes  rat_arrival_number
0                4.0          0.0                 0.0
1                0.0          0.0                 0.0
2                4.0          0.0                 0.0
3                0.0          0.0                 0.0
4                4.0          0.0                 0.0

In [ ]:
# Check that all months are now present
print("Unique months:", merged2['month'].unique())
print("Shape of merged dataset:", merged2.shape)

Unique months: [4]
Shape of merged dataset: (20, 17)

In [110]:
#cleaning the new(merged) dataset

merged2.isnull().sum()

#no null values

start_time                   2103
bat_landing_to_food          2103
habit                        2103
rat_period_start             2103
rat_period_end               2103
seconds_after_rat_arrival    2103
risk                         2103
reward                       2103
month                           0
sunset_time                  2103
hours_after_sunset              0
season                       2103
time                          905
bat_landing_number            905
food_availability             905
rat_minutes                   905
rat_arrival_number            905
dtype: int64

In [111]:
#checking for duplicates
merged.duplicated().sum()

#no duplicates either

np.int64(0)

In [112]:
#checking outliers
merged.describe()

,bat_landing_to_food,seconds_after_rat_arrival,risk,reward,month,hours_after_sunset,season,bat_landing_number,food_availability,rat_minutes,rat_arrival_number
count,2.000000e+01,20.0,20.0,20.0,20.0,20.0,20.0,20.000000,20.000000,20.000000,20.000000
mean,6.377157e-02,368.0,1.0,0.0,4.0,7.0,1.0,61.950000,2.015515,2.050833,0.650000
std,1.423831e-17,0.0,0.0,0.0,0.0,0.0,0.0,31.698373,0.699437,4.356069,1.182103
min,6.377157e-02,368.0,1.0,0.0,4.0,7.0,1.0,25.000000,0.000000,0.000000,0.000000
25%,6.377157e-02,368.0,1.0,0.0,4.0,7.0,1.0,48.250000,2.000000,0.000000,0.000000
50%,6.377157e-02,368.0,1.0,0.0,4.0,7.0,1.0,62.500000,2.000000,0.000000,0.000000
75%,6.377157e-02,368.0,1.0,0.0,4.0,7.0,1.0,66.250000,2.000000,1.054167,1.000000
max,6.377157e-02,368.0,1.0,0.0,4.0,7.0,1.0,178.000000,3.000000,15.316667,4.000000